* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: text;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  