.design_home {
  .row{
    .col{
      border: 1px solid black;
      
    }
    .box_add{
      background-color: rgba(172, 255, 47, 0.645);
    }
    .box_remove{
      background-color: rgba(255, 47, 47, 0.645);
    }
  }
  @media screen and (max-width:500px) {
    h1{
      font-size: 0.8rem;
    }
  }
  

}
