@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    /*background*/
    --background-color:rgb(183, 183, 183);
    
    /*colors*/
    --foont-color:rgb(13, 17, 82);
    --nav-bar-foont-color:rgb(141, 245, 170);
    --error-color:rgb(173, 49, 33);
    --input-color:rgb(0, 174, 255);
    --background-color-nav:rgba(0, 0, 0, 0.308);
    --background-color-button-nav:rgba(0, 17, 255, 0.567);
    --background-color-dropdown-nav:rgb(3, 38, 108);

    /*height-content*/
    --height-main-pages:100vh;
}

